/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.DS_Store
/doc
push
.clj-kondo/.cache
.classpath
.cpcache
.factorypath
.java-version
.lsp/.cache
.lsp/sqlite.db
.nrepl-history
.project
.rebel_readline_history
.settings
.socket-repl-port
*~
/.ent.el
/tmp/
